<!-- crud/producto_lista.html -->
{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-4">
    <h2>Listado de Productos</h2>
    <div class="row">
        <table class="table table-striped">
            <thead class="table-info">
                <tr>
                    <th scope="col">Producto ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.productoId }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.nombreMarca }}</td>
                    <td>
                        {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" style="max-height: 50px; max-width: 50px;" class="img-thumbnail" alt="{{ producto.nombre }}">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'producto_detalle' id=producto.productoId %}" class="btn btn-sm btn-primary">Ver</a>
                        <a href="{% url 'producto_editar' id=producto.productoId %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'producto_borrar' pk=producto.productoId %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row mt-3">
        <a href="{% url 'producto_nuevo' %}" class="btn btn-success">Crear Nuevo Producto</a>
    </div>
</div>
{% endblock %}
