{%extends 'base.html'%}

{%block contenido%}
{%load static%}

<main role="main" class="container">
        

    <div>
        <h2 class="lead" style="color: #596272"><strong>Articulos</strong></h2><br>
        <div class="row">

            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/ASEIENTO ADULTO 2.png'%}">
                    <div class="card-body">
                        <h4 class="card-title">ASIENTO ADULTO</h4>
                        <p class="card-text">Precio: $12.990 <br></p>
                        <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/ASIENTO NIÑO2 .png'%}">
                    <div class="card-body">
                        <h4 class="card-title">ASIENTO NIÑO</h4>
                        <p class="card-text">Precio: $9.990 <br></p>
                        <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/GUANTES 1.png'%}">
                    <div class="card-body">
                        <h4 class="card-title">GUANTES AMARILLOS</h4>
                        <p class="card-text">Precio: $6.990 <br></p>
                        <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/GUANTES 2.png'%}">
                    <div class="card-body">
                        <h4 class="card-title">GUANTES NEGROS</h4>
                        <p class="card-text">Precio: $6.990 <br></p>
                        <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card text-center">
                    <img class="card-img-top mx-auto" src="{%static 'img/GUANTES 3.png'%}">
                    <div class="card-body">
                        <h4 class="card-title">GUANTES BLANCOS</h4>
                        <p class="card-text">Precio: $6.990 <br></p>
                        <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr><br>
   
    <main role="main" class="container">
        <div>
            <div class="row">

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/LUBRICANTE.png'%}">
                        <div class="card-body">
                            <h4 class="card-title">LUBRICANTE PEQUEÑO</h4>
                            <p class="card-text">Precio: $7.490 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/LUZ.png'%}">
                        <div class="card-body">
                            <h4 class="card-title">LUZ LED TRASERA</h4>
                            <p class="card-text">Precio: $4.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/ASIENTO.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">ASIENTO SOFT</h4>
                            <p class="card-text">Precio: $13.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/CANASTA.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">CANASTA DELANTERA</h4>
                            <p class="card-text">Precio: $7.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/CASCO.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">CASCO ADULTO</h4>
                            <p class="card-text">Precio: $11.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr><br>    


    <main role="main" class="container">
        <div>
            <div class="row">

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/PROTECCION 1.png'%}">
                        <div class="card-body">
                            <h4 class="card-title">KIT PROTECCION</h4>
                            <p class="card-text">Precio: $12.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/PARCHES.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">PARCHES DOUBLE</h4>
                            <p class="card-text">Precio: $12.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/CADENA 10S.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">CADENA 10S 116L</h4>
                            <p class="card-text">Precio: $12.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/CADENA 9S.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">CADENA 9S 116L</h4>
                            <p class="card-text">Precio: $12.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card text-center">
                        <img class="card-img-top mx-auto" src="{%static 'img/CADENA 8S.PNG'%}">
                        <div class="card-body">
                            <h4 class="card-title">CADENA 8S 116L</h4>
                            <p class="card-text">Precio: $12.990 <br></p>
                            <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr><br>

        <main role="main" class="container">
            <div>
                <div class="row">
    
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="card-img-top mx-auto" src="{%static 'img/PERNOS CORONA.PNG'%}">
                            <div class="card-body">
                                <h4 class="card-title">PERNOS DE CORONA</h4>
                                <p class="card-text">Precio: $6.490 <br></p>
                                <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="card-img-top mx-auto" src="{%static 'img/VOLANTE SHIMANO.PNG'%}">
                            <div class="card-body">
                                <h4 class="card-title">VOLANTE SHIMANO</h4>
                                <p class="card-text">Precio: $17.990 <br></p>
                                <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="card-img-top mx-auto" src="{%static 'img/VALVULAS.PNG'%}">
                            <div class="card-body">
                                <h4 class="card-title">VALVULAS MUC-OFF</h4>
                                <p class="card-text">Precio: $7.490 <br></p>
                                <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="card-img-top mx-auto" src="{%static 'img/ADAPTADOR VALVULA.PNG'%}">
                            <div class="card-body">
                                <h4 class="card-title">ADAPTADOR VALVULA</h4>
                                <p class="card-text">Precio: $3.490 <br></p>
                                <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md">
                        <div class="card text-center">
                            <img class="card-img-top mx-auto" src="{%static 'img/GPS.png'%}">
                            <div class="card-body">
                                <h4 class="card-title">GPS CYCPLUS</h4>
                                <p class="card-text">Precio: $13.990 <br></p>
                                <a href="" class="btn btn-primary col-12">Añadir al carro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr><br>
        </div>
    </main>

{%endblock%}


