{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<div class="container">
    <h2>Tienda</h2><br>
    <div class="row">
        <div class="col-8">
            <div class="row" style="padding: 5px 0;">
                <div class="col-12">
                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-6">
                            <div class="card text-center">
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" class="card-img-top mx-auto">
                                {% else %}
                                    <img src="{% static 'img/sinfoto.webp' %}" class="card-img-top mx-auto">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight:bold;">Producto ID: {{ producto.productoId }}</h5>
                                    <p class="card-text">
                                        Marca: {{ producto.nombreMarca.nombreMarca }}<br>
                                        Producto: {{ producto.nombre }}<br>
                                        Precio: ${{ producto.precio }}<br>
                                    </p>
                                    <a href="{% url 'agregar' producto.productoId %}" class="btn btn-outline-success">Agregar al carro</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            {% include "crud/carrito.html" %}

        </div>
    </div>
</div>
{% endblock %}
