{%extends 'base.html'%}

{%block contenido%}
{%load static%}

<main role="main" class="container">
    <div class="row product-section">
        <div class="col-md-6 product-image">
            <img src="{% static 'img/CADENA 10S.png' %}" class="img-fluid" alt="CADENA 10S">
        </div>
        <div class="col-md-6 product-details">
            <h1>Cadena 10S 116L</h1>
            <p class="price">Precio: $7.490 </p>
            <p class="description">Cadena Shimano para Bicicletas: Calidad y Durabilidad,
                La cadena Shimano para bicicletas es sinónimo de calidad y durabilidad. Diseñada para ofrecer un rendimiento excepcional, esta cadena garantiza un cambio de marchas suave y preciso en cada pedaleo. Con materiales de alta resistencia, la cadena Shimano es una excelente elección para cualquier tipo de bicicleta. Asegura la fiabilidad de tu transmisión con la cadena Shimano.
            </p>
            <a href="#" class="btn btn-primary btn-block">Añadir al carrito</a>
        </div>
    </div>
    <hr>
</main>

<style>
    .related-products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 0;
    }
    .related-product {
        text-align: center;
        margin: 20px;
    }
    .related-product img {
        width: 200px;
        height: 200px;
    }   
    .card-title {
        font-size: 1.2em;
        margin-top: 10px;
    }
    .card-text {
        margin: 10px 0;
    }
</style>
</head>
<body>

<div class="container">
<h2 class="text-center">Te sugerimos revisar estos productos</h2>
<div class="related-products">
    <!-- Artículo relacionado 1 -->
    <div class="related-product">
        <img src="{% static 'img/GPS.png' %}" alt="Artículo relacionado 1">
        <h4 class="card-title">GPS CYCPLUS</h4>
        <p class="card-text">Precio: $11.490 <br></i> 25% de descuento </i></p>
        <a href="{%url 'MostrarGPS'%}" class="btn btn-primary">Visitar Artículo</a>
    </div>

    <!-- Artículo relacionado 2 -->
    <div class="related-product">
        <img src="{% static 'img/VOLANTE SHIMANO.png' %}" alt="VOLANTE SHIMANO">
        <h4 class="card-title">VOLANTE SHIMANO</h4>
        <p class="card-text">Precio: $10.990</p>
        <a href="{%url 'MostrarVolante'%}" class="btn btn-primary">Visitar Artículo</a>
    </div>

    <!-- Artículo relacionado 3 -->
    <div class="related-product">
        <img src="{% static 'img/CASCO.png' %}" alt="CASCO ADULTO">
        <h4 class="card-title">CASCO ADULTO</h4>
        <p class="card-text">Precio: $11.990</p>
        <a href="{%url 'MostrarCasco'%}" class="btn btn-primary">Visitar Artículo</a>
    </div>
</div>
</div>
<br>

{%endblock%}